* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  grid-area: header;
  left: 0;
}

header .logo1 {
  padding: 1.5rem;
}

.login div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login div h1 {
  font-family: 'Poppins';
  font-weight: 600;
  color: #d4ccb6;
}

.login p {
  font-family: 'Roboto';
  font-weight: 500;
  color: #afb6c2;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

form label {
  font-family: 'Poppins';
  font-weight: 500;
  color: #afb6c2;
  text-align: left;
  padding-top: 0.9rem;
}

form label:nth-child(2) {
  font-weight: 400;
  font-size: 0.85rem;
}

form input:nth-child() {
  border: 1px solid red;
}

.btn-login {
  background: #ffc632;
  font-family: 'Poppins';
  font-weight: 600;
  height: 2.4rem;
  width: 15rem;
}

.btn-login:hover {
  box-shadow: 2px 2px white;
  transition: 250ms;
}

span:nth-child(3) {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.8rem;
  color: #ffc632;
  /* padding-left: 3.6rem; */
}

.form-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
}

.register {
  color: #ffc632;
  padding-top: 0.9rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

main .conteiner {
  background-color: #24221f;

  max-width: 33.1rem;
  height: 32rem;
  padding: 50px 120px;
}



.email-input {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background: transparent;
  border: 2px solid #ffc632;

}

.email-input input {
  border: 0;
  background: transparent;
  outline: 0;
  color: white;
}



body {
  background-color: #191816;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  grid-template-areas:
    'header img'
    'form img';
}

.veiculo-foto {
  /* width: 50%; */
  grid-area: img;
}
